html,
body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  width: 100vw;
  /* Give app full page to work with */
}

#page-wrap {
  width: 100%;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: scroll;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  background-color: rgba(197, 197, 197, 0.418);
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFFFFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #2c2b2b;
  padding: 2.5em 1em 0;
  font-size: 1.15em;
  font-family: 'Work Sans', sans-serif;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #2c2b2b;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}